{% set getkeys = true %}
{% extends 'globals/main.twig' %}

{% block body %}
<div class="large-6 medium-12 columns">
	<form action="" method="post" data-abide>
		<div class="row">
			<div class="large-12 columns">
				<label for="name">
					Name <small>required</small>
					<input type="text" id="name" name="name" placeholder="awesome_list" required>
				</label>
				<small class="error">A list name is required.</small>
			</div>
			<div class="large-12 columns">
				<label for="tag">
					Tag <small>required</small>
					<input type="text" id="tag" name="tag" placeholder="press" required>
				</label>
				<small class="error">A tag is required.</small>
			</div>
			<div class="large-12 columns margin-top">
				<button type="submit" class="large-12">Add List</button>
			</div>
		</div>
	</form>
</div>
<div class="large-6 medium-12 columns">
	{% set noTag = true %}
	{% set noSended = true %}
	{% set noTo = true %}
	{% include 'templates/keystable.twig' %}
</div>
{% endblock %}