{% if keys is defined and keys %}
<table width="100%">
	<thead>
		<tr>
			<th>Key</th>
		</tr>
	</thead>
	<tbody>
		{% for key in keys %}
		<tr>
			<td>{{ key.key }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}