<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Key Manager</title>
		<link rel="stylesheet" href="/public/css/foundation.css" />
		<link rel="stylesheet" href="/public/css/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<script src="/public/js/vendor/modernizr.js"></script>
	</head>
	<body>
		
		{% include 'globals/nav.twig' %}
		
		<div class="row margin-top">
			
			{% block body %}
				<p>[...]</p>
			{% endblock %}
			
		</div>
		<script src="/public/js/vendor/jquery.js"></script>
		<script src="/public/js/foundation/foundation.js"></script>
		<script src="/public/js/foundation/foundation.abide.js"></script>
		<script src="/public/js/foundation/foundation.dropdown.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>